<div class="login-maintext">
  <span class="h5">Zaloz nowe konto</span>
</div>
<div class="login-secondarytext">
  <span class="caption">Bedziesz mogl korzystac z systemu po zalogowaniu</span>
</div>
<form class="form-inputs" #login="ngForm">
  <span
    class="label input-label"
    [ngClass]="{'i-error' : emailControl.invalid && emailControl.touched }"
    >{{ emailControl.touched && emailControl.invalid ?
    generateError(emailControl) : 'Adres email' }}</span
  >
  <nb-form-field class="form-element">
    <nb-icon icon="at-outline" pack="eva" nbSuffix></nb-icon>
    <input
      (ngModelChange)="getEmailChange(login)"
      name="email"
      type="text"
      email
      required
      nbInput
      [(ngModel)]="email"
      fullWidth="true"
      placeholder="Wpisz swoj email"
      [ngClass]="{'i-error' : emailControl.invalid && emailControl.touched }"
      #emailControl="ngModel"
      [status]="emailControl.touched && emailControl.invalid ? 'danger': 'basic'"
    />
  </nb-form-field>
  <span class="label input-label"
  [ngClass]="{'i-error' : passwordControl.invalid && passwordControl.touched }"
  >{{ passwordControl.touched && passwordControl.invalid ?
    generateError(passwordControl) : 'Adres email' }}</span>
  <nb-form-field class="form-element">
    <input
      name="password"
      [(ngModel)]="password"
      (ngModelChange)="getPasswordChange(login)"
      required
      fullWidth="true"
      [type]="getInputType()"
      nbInput
      #passwordControl="ngModel"
      placeholder="Wpisz swoje haslo"
      [status]="passwordControl.touched && passwordControl.invalid ? 'danger': 'basic'"
    />
    <button nbSuffix nbButton ghost (click)="toggleShowPassword()">
      <nb-icon
        [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'"
        pack="eva"
        [attr.aria-label]="showPassword ? 'hide password' : 'show password'"
      >
      </nb-icon>
    </button>
  </nb-form-field>
</form>
