<div class="login-maintext">
  <span class="h5">Zarejestruj nowe konto</span>
</div>
<div class="login-secondarytext">
  <span class="caption">Rejestracja trwa jedynie chwile</span>
</div>
<form
  [appMatchPassword]="['password', 'passwordRepeat']"
  #register="ngForm"
  class="form-inputs"
>
  <span
    class="label input-label"
    [ngClass]="{'i-error' : emailControl.invalid && emailControl.touched }"
    >{{ emailControl.touched && emailControl.invalid ?
    generateError(emailControl) : 'Adres email' }}</span
  >
  <nb-form-field class="form-element">
    <nb-icon icon="at-outline" pack="eva" nbSuffix></nb-icon>
    <input
      name="email"
      [(ngModel)]="email"
      (ngModelChange)="showEmailChange(register)"
      email
      required
      type="text"
      nbInput
      fullWidth="true"
      placeholder="Wpisz swoj email"
      #emailControl="ngModel"
      [status]="emailControl.touched && emailControl.invalid ? 'danger': 'basic'"
    />
  </nb-form-field>
  <span
    class="label input-label"
    [ngClass]="{'i-error' : passwordControl.invalid && passwordControl.touched }"
    >{{ passwordControl.touched && passwordControl.invalid ?
    generateError(passwordControl) : 'Twoje haslo' }}</span
  >
  <nb-form-field class="form-element">
    <input
      (ngModelChange)="showPasswordChange(register)"
      #passwordControl="ngModel"
      name="password"
      [(ngModel)]="password"
      required
      fullWidth="true"
      [type]="getInputTypeFirst()"
      nbInput
      placeholder="Wpisz swoje haslo"
      [status]="passwordControl.touched && passwordControl.invalid ? 'danger': 'basic'"
    />
    <button nbSuffix nbButton ghost (click)="toggleShowFirstPassword()">
      <nb-icon
        [icon]="showPasswordFirst ? 'eye-outline' : 'eye-off-2-outline'"
        pack="eva"
        [attr.aria-label]="showPasswordFirst ? 'hide password' : 'show password'"
      >
      </nb-icon>
    </button>
  </nb-form-field>
  <span
    class="label input-label"
    [ngClass]="{'i-error' : confirmPasswordControl.invalid && confirmPasswordControl.touched }"
    >{{ confirmPasswordControl.touched && confirmPasswordControl.invalid ?
    generateError(confirmPasswordControl) : 'Powtorz haslo' }}</span
  >
  <nb-form-field class="form-element">
    <input
      #confirmPasswordControl="ngModel"
      name="passwordRepeat"
      [(ngModel)]="passwordRepeat"
      (ngModelChange)="showPasswordChange(register)"
      required
      fullWidth="true"
      [type]="getInputTypeSecond()"
      nbInput
      placeholder="Wpisz swoje haslo"
      [status]="confirmPasswordControl.touched && confirmPasswordControl.invalid ? 'danger': 'basic'"
    />
    <button nbSuffix nbButton ghost (click)="toggleShowSecondPassword()">
      <nb-icon
        [icon]="showPasswordSecond ? 'eye-outline' : 'eye-off-2-outline'"
        pack="eva"
        [attr.aria-label]="showPasswordSecond ? 'hide password' : 'show password'"
      >
      </nb-icon>
    </button>
  </nb-form-field>
</form>
