<nb-layout>
  <nb-layout-header>
    <nb-card-body>
      <nb-actions fullWidth="true" size="tiny">
        <nb-action [disabled]="loggedIn" icon="search"></nb-action>
        <span class="caption">Zapomniales haslo? </span>
        <nb-action [disabled]="loggedIn" icon="power"></nb-action>
        <nb-action [disabled]="loggedIn" icon="person"></nb-action>
        <nb-action [disabled]="loggedIn" icon="home"></nb-action>
      </nb-actions>
    </nb-card-body>
  </nb-layout-header>
  <nb-layout-column class="log-reg-form">
    <nb-card class="card-confirm">
      <nb-card-body>
        <nb-stepper class="step-element" #stepper [linear]="linearMode">
          <nb-step [stepControl]="nameForm" label="Dane podstawowe">
            <form #nameForm="ngForm" class="step-inputs-buttons">
              <div class="input-row">
                <div class="input-column">
                  <div class="input-label">
                    <span class="label input-label">Imię</span>
                    <div class="input-group">
                      <input type="text"
                      placeholder="Wpisz imię"
                      class="form-control"
                      name="name"
                      required
                      nbInput
                      ngModel
                      #name="ngModel"
                      [status]="name.invalid && name.touched ? 'danger' : 'basic'">
                    </div>
                  </div>
                  <div class="input-label">
                    <span class="label input-label">Nazwisko</span>
                    <div class="input-group">
                      <input type="text"
                      placeholder="Wpisz nazwisko"
                      class="form-control"
                      name="lname"
                      required
                      nbInput
                      ngModel
                      #lname="ngModel"
                      [status]="lname.invalid && lname.touched ? 'danger' : 'basic'">
                    </div>
                  </div>
                </div>
                <div class="input-text">
                  <span class="h6">To już ostatnie kroki...</span>
                  <span class="caption">Wypełnij pola i przejdź dalej</span>
                </div>
              </div>
              <div class="button-section">
                <button nbButton nbStepperPrevious (click)="previousStep()" [disabled]="true">Poprzedni krok</button>
                <button nbButton nbStepperNext (click)="nextStep()">Następny krok</button>
              </div>
            </form>
          </nb-step>
          <nb-step [stepControl]="nameForm" label="Adres">
            <form #nameForm="ngForm" class="step-container">
              <div class="input-group">
                <input type="text"
                placeholder="Enter your name"
                class="form-control"
                name="name"
                required
                nbInput
                ngModel
                #name="ngModel"
                [status]="name.invalid ? 'danger' : 'basic'">
              </div>
              <div class="button-section">
                <button nbButton nbStepperPrevious (click)="previousStep()">Poprzedni krok</button>
                <button nbButton nbStepperNext (click)="nextStep()">Następny krok</button>
              </div>
            </form>
          </nb-step>
          <nb-step [stepControl]="nameForm" label="Dane dodatkowe">
            <form #nameForm="ngForm" class="step-container">
              <div class="input-group">
                <input type="text"
                placeholder="Enter your name"
                class="form-control"
                name="name"
                required
                nbInput
                ngModel
                #name="ngModel"
                [status]="name.invalid ? 'danger' : 'basic'">
              </div>
              <div class="button-section">
                <button nbButton nbStepperPrevious (click)="previousStep()">Poprzedni krok</button>
                <button nbButton nbStepperNext (click)="nextStep()" [disabled]="true">Następny krok</button>
              </div>
            </form>
          </nb-step>
        </nb-stepper>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
